body{
    background: black;
     
}
header {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, figcaption {
    color: white;
}
.pai {
    display: flex;
    flex-wrap: wrap;
}
figure {
    margin-right: 10px;
}
figure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
button {
    background-color: black;
    color: white;


}
button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}